
body{
    text-align: center;
    font-family: 'Montserrat', serif;
    
}
h1{
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}

.imgBg{
    color: white;
    background-image: url(../images/IntroImg.jpg);height: 100vh;
    background-size: 1539px 852px;
    background-color: transparent;
    background-position: -2px -13px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-weight: bolder;
}
.logo2{
    width: 50px;
    height: 50px;
}

#pokeSection{
    font-weight: bold;
   
    position: fixed;
}
.pokeBt{
position: absolute;
top: 6rem;
left:1px;
z-index: 99;

}


.pokeBall{
      width: 1.2rem;
      height: 1.2rem;
  }
.name{
    font-weight: bolder;
    font-size: 5rem ;
    margin-top: 10rem;
    font-family: 'Sacramento', cursive;
   
}

 
.downArrow{
    margin-top: 115px;
}

/* Intro */

#intro{
    background-color: #313842;
    background-image: url("https://www.transparenttextures.com/patterns/dark-fish-skin.png");
    padding-bottom: 30px;
    color: #FFFFFF;   
}
.bioContent{
    margin-top: 60px;
}

#intro h5 {
    text-align: left;
    font-weight: bolder;
}   
#intro p{
    text-align: left;
}
#intro h3{
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.35);
    display: inline-block;
}
.bio{
    margin: 20px 0px 30px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.35);
    display: inline-block;
}
.quote{
    position:absolute;
    top: 50px;
    left: 50px;
}
.myImg{
    width: 12rem;
}
.introTxt h1{
    font-size: 1rem;
    padding: 20px 10px 20px 10px;
}

.bt{
    margin: 4% 2% 4% 2%;
}

/* Education */

#education{
    background-color: #313842;
    background-image: url("https://www.transparenttextures.com/patterns/dark-fish-skin.png");
    padding-bottom: 30px;
    color: #FFFFFF;  
    position: relative;
}
#education h1{
    color: white;
}
#education h5{
    font-weight: bolder;

}
#education .row {
    margin: 70px 10px 0px 10px;
}
.location{
    color: white;
    
}
.location:hover {
    text-decoration: none;
    color: black;
  }

  /* Sample Projects */
#sample{
    background-repeat: no-repeat;
    background-size: 1539px 852px;
    background-color: transparent;
    background-position: -2px -13px;
    background-image: url(../images/Project.jpg);
    background-attachment: fixed;
    background-position: center;
    min-height: 754px;
    color: white;
}
#sample .sampleProject{
     margin-top: 40px;
}
#sample .single-portfolio{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    margin-left: 45px;
    margin-right: 45px;
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
}
#sample .single-portfolio h3{
    color: #FFFFFF;
}

  #sample .portfolio-img{
    width: 300px;
    height: 200px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    
}
#sample .portfolio-text{
    position: absolute;
    /* top: 10px; */
    bottom: 0px;
    width: 100%;
    color: #FFFFFF;
    background: rgba(0, 0, 0,0.7);
   
}
#sample .portfolio-text p{
    text-align: center;
}

/* skills */
#skills{
   
    background-repeat: no-repeat;
    background-size: 1539px 852px;
    background-color: transparent;
    background-position: -2px -13px;
    background-image: url(../images/skills.jpg);
    background-attachment: fixed;
    background-position: center;
    min-height: 754px;
    color: #FFFFFF;
    font-weight: bold;
}
#skills .row{
    margin: 5rem 0 0 0 ;
}



.zoom2:hover {
    color: rgb(114, 111, 111); 
  }
#skills .horizontalLine{
    padding-top: 20px;
    border-top: 1px solid #FFFFFF;
    border-top-color: rgba(255,255,255,0.35);
    display: inline-block;
}
/* contact */
#contact{
    background-repeat: no-repeat;
    background-size: 1539px 852px;
    background-color: transparent;
    background-position: -2px -13px;
    background-image: url(../images/contact.jpg);
    background-attachment: fixed;
    background-position: center;
    min-height: 754px;
    color: #FFFFFF;
}

#contact h1{
    text-align: center;
    color: white;
    
    
}
#contact .card{
    margin: 2rem auto 0 auto;
}
.logo{
    margin: 4rem 1rem 1rem 1rem;
}

h2{
    color: #FFFFFF;
}
.signUp{
    background-image: url("https://www.transparenttextures.com/patterns/dark-fish-skin.png");
}
.visibility{
    visibility: hidden;
}
#contact .zoom{
    margin: 8% 0 8% 0;
    padding-top: 2rem;
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.2); 
  }


/* Footer */

#footer{
    background-color: #FFFFFF;
    height: 20px;
   
}

.visibilityClass{
 visibility: hidden;
}

/* media */

@media  (max-width: 1200px){
    #intro h5 {
        text-align: center;
    }
    #intro p{
        text-align: center;
    }
    .quote{
        position:absolute;
        top: 25px;
        left: 15px;
    }
    .name{
        font-size: 3rem;
    }
    #education h1{
        font-size: 2rem
    }
    .newsletter{
        visibility: hidden;
        display: inline-block;
    }
    
    .portfolio-text{
        
    visibility: hidden;
    }
}