a {
  color: #dc3545;
  text-decoration: underline;
}

.post-body p {
  margin-bottom: 10px !important;
}

.post-body h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0px !important;
  font-weight: bolder !important;
}

p {
  font-size: 17px;
}

.light-theme pre {
  background-color: #f6f8fa;
  color: #18191a;
}

.dark-theme pre,
.light-theme pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  border-radius: 6px;
  margin: 20px !important;
}

.dark-theme pre {
  background-color: #18191a;
  color: #f6f8fa;
  font-weight: bold;
}

.blog-post-content a {
  color: #dc3545 !important;
  text-decoration: underline !important;
}

.blog-post-content code {
  color: #6366f1;
}

a:hover {
  color: #dc35468f !important;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #11151f;
  margin: 20px 0px;
  border-radius: 10px;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: rgb(220, 53, 69);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
