body {
  font-family: "Montserrat", serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}
.block-header {
  margin: 10px 0px;
}
.App {
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.block-header::before,
.block-header::after {
  content: " ";
  height: 3px;
  width: 80px;
  margin: 10px 10px;
  display: inline-block;
  zoom: 1;
  background: #ef4444;
}

.name {
  font-weight: bolder;
  font-size: 7rem;
}

/* intro */

.bioContent {
  margin-top: 60px;
}

#blogs-list {
  height: 100vh;
}
.bio {
  margin: 20px 0px 30px 0px;
  display: inline-block;
  font-size: 22px;
}
.quote {
  position: absolute;
  top: 50px;
  left: 50px;
}
.myImg {
  width: 9rem;
  height: 9rem;
  margin-top: 2rem;
}
.introTxt h1 {
  font-size: 1rem;
  padding: 20px 10px 20px 10px;
}

.bt {
  margin: 4% 2% 4% 2%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.m10 {
  margin: 10px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.pointer {
  cursor: pointer;
}
.flex-end-col {
  justify-content: flex-end;
}
.f30 {
  font-size: 30px;
}
.icon-social:hover {
  opacity: 0.6;
}
.h45 {
  height: 45.1rem;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mT5 {
  margin-top: 5rem;
}

.pT10 {
  padding-top: 10px;
}
.pB10 {
  padding-bottom: 10px;
}
.pR10 {
  padding-right: 10px;
}

.pL10 {
  padding-left: 10px;
}

.richtext-drawer {
  width: 40rem;
}

.font-medium {
  font-weight: bold;
}

.navbar-header {
  backdrop-filter: saturate(50%) blur(60px);
}

.filter-dark {
  filter: brightness(0.9);
}
.ak-font-color {
  color: #dc3545;
}
.social-contact {
  margin-top: 10rem;
  margin-left: 4rem;
}
.web-dev-contact {
  margin-top: 1rem;
  margin-left: 4rem;
}
.text-xs {
  font-size: 12px;
}
@media (max-width: 1200px) {
  .richtext-drawer {
    width: 60vh;
  }
  .quote {
    position: absolute;
    top: 25px;
    left: 15px;
  }
  .name {
    font-size: 3rem;
  }
  #education h1 {
    font-size: 2rem;
  }
  .newsletter {
    visibility: hidden;
    display: inline-block;
  }

  .portfolio-text {
    visibility: hidden;
  }
  .newsletter {
    visibility: hidden;
    position: absolute;
  }
  .social-contact {
    display: none;
  }
  .web-dev-contact {
    display: none;
  }
  p {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .intro-text-container {
    align-items: center;
    text-align: center;
  }
}
